<div>
    <span class="sub-sidebar-title">Utilisateurs</span>
    <p>
    <ul class="sub-sidebar-list">
        <li><a href="http://localhost/karott.fr/modules/users/">Gérer les utilisateurs</a></li>
        <li><a href="http://localhost/karott.fr/modules/users/index.php?page=groups">Gérer les groupes</a></li>
    </ul>        
</p>
</div>
