@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,700);

html{
    height:100%;
}

body{
    font-family: 'Roboto', sans-serif !important;
    min-height: 100%;
    min-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.popover{
    width:100% !important;   
    max-width: 100% !important;
}

a{
    color:#2ec4b6;
}

a:focus{
    outline: none;
}

label{
    font-weight: 400;
    font-size: 16px;
}

li{
    list-style-type: none;
}

.full-height{min-height:96.2vh;}
.full-width{width:100%;}

.padding{padding:15px;}
.no-padding{padding:0;}
.padding-left{ padding-left:15px; }
.padding-right{ padding-right:15px; }
.padding-top{ padding-top:15px; }
.padding-bottom{ padding-bottom:15px; }

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    /*left: 250px;*/
    /*width: 0;*/
    height: 100%;
    /*margin-left: -250px;*/
    /*overflow-y: auto;*/
    background: #011627;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#dropzone{
    height:100%;
}

#sidebar-wrapper.shadowed{
    box-shadow: 0 0 9px #011627;
}

#wrapper.toggled #sidebar-wrapper {
    width: 50px;
}

#page-content-wrapper {
    width: 100%;
    /*position: absolute;*/
    float:left;
    /*padding: 15px;*/
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.overlay{
    height:96vh;
    background-color: rgba(0,0,0,0.75);
    width:100%;
    display:none;
    position:absolute;
    top:0;
    left:0;
    text-align: center;
}

.sidebar{
    overflow-x: hidden;
    overflow-y: auto;
    height:500px;
    background-color: #2ec4b6;
    border-right:1px solid hsla(0, 0%, 80%, 1);
    color:white;
}

.sidebar ul li a{
    color:white;
}

.alphabeticalLetter{
    width:35px;
    height:35px;
    background-color:#fff;
    color:#2ec4b6;
    text-align:center;
    margin-top:10px;
    font-size:22px;
}

.alphabeticalLetterChoice{
    font-size: 28px;
    color:white;
}

.filterByFirstLetter,.closefilter,.firstLetter{
    color:#2ec4b6 !important;
}

.sidebar-nav {
    position: relative;
    float:left;
    width: 50px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {    
    text-align: center;
}

.sidebar-nav li a {
    padding:15px 0 15px 0;
    display: block;
    text-decoration: none;
    color: #d7d7d7;
    transition: all 500ms;
}

.sidebar-nav li a:hover  {
    text-decoration: none;    
    /*background: rgba(255,255,255,0.2);*/
    transition: all 500ms;
    color:#fdfffc;
}

.sidebar-nav li a.active{
    /*background: #344552;*/
    transition: color 500ms;
    color:#2ec4b6;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fdfffc;
    background: none;
}

.sub-sidebar{
    float:left;
    position:fixed;
    width:200px;
    left:75px;
    height:100%;
    /*border-left:5px solid #344552;*/
    background-color: #2ec4b6;
    color:#fdfffc;
    /*padding:5px 5px 5px 5px;*/
}

.sub-sidebar-title{
    display:inline-block;
    font-size: 25px;
    color:#011627;
    text-align:center;
    background-color: rgba(255,255,255,0.15);
    width:100%;
}

.sub-sidebar-button-bottom{
    position: absolute;
    bottom:0;
    text-align:center;
    border-top:1px solid #2ab2a5;
    width:100%;
    padding:7px;
    background-color:rgba(255, 255, 255, 0.15);
}

.sidebar-left-button-bottom{
    position: absolute;
    bottom:0;
    text-align:center;
    border-top:1px solid hsla(0, 0%, 80%, 1);
    width:100%;
    padding:7px;
    background-color:rgba(255, 255, 255, 0.15);    
}

.sidebar-left-button-bottom li span a{
    font-size: 14px;
    color:#ccc;
}

.sub-sidebar-list{
    margin:0 0 0 5px;
    padding:0;

}

.sub-sidebar-list-projects li a{
    font-size: 16px;
}

.sub-sidebar-list-projects li span a{
    font-size: 14px;
    color:#011627;
}

.projects-menu{
    margin:0;
    padding:0;
    width:100%;
}

.projects-menu > li{
    display:inline-block;
    width:100%;
    padding:10px;
    text-align:center;
    border-bottom:1px solid #2ab2a5;
}

.projects-menu li a.dropdown-toggle{
    color:#fdfffc;
    width:100%;
    font-weight:lighter;
    font-size:16px;
    cursor: pointer;
}

.projects-menu li a.dropdown-toggle:hover{
    text-decoration:none;
}

.sub-sidebar-hidden{
    left:-165px;
    /*visibility: hidden;
    opacity: 0;*/
}

.sub-sidebar-visible{
    left:50px;
    /*visibility: visible;
    opacity: 1;*/
}

#sub-sidebar{
    transition: left 500ms;
}

.projectPicture{
    width:35px;
    height:35px;
    border-radius:100%;    
    margin-right: 5px;
} 

.remove-sub-sidebar{
    margin-left:35px;
    /*padding-left:35px;*/
}

.add-sub-sidebar{
    margin-left: 235px;
}

.add-sub-sidebar-breadcrumb{
    margin-left: 200px;
}

#page-content-wrapper,.breadcrumb{
    transition: margin 500ms;
}

.logout{
    position:fixed;
    bottom:0;
    left:15px;
}

.logout .tooltip{
    left:40px !important;
}
.ajaxSubmenu .tooltip{
    left:50px !important;
}

/******
Breadcrumb
******/
.breadcrumb{
    padding-left:110px;
    background-color: transparent;
    border-radius:0;
    border-bottom-color: #f5f5f5;
    border-bottom: 1px solid  hsla(0,0%,80%,1);
    margin-bottom: 0;
}

/**
* FILES TREE
**/

.file-tree-container{
    overflow-x: hidden;
    overflow-y: auto;
    height:500px;
    background-color: #f7f7f7;
    border-right:1px solid hsla(0, 0%, 80%, 1);
}

.file-content{
    margin-top:50px;
    width:78vw;
    height:90vh;
}

/**
* CONTENT
**/

.box{
    padding-left: 50px;
}

.spacing-list li{
    font-size: 16px;
}


/******
MediaQueries
******/

@media screen and (max-height:500px){
    .logout{
        position:relative;
        left:0;
    }
}
@media screen and (min-width:768px) {
    /*#wrapper {
        padding-left: 250px;
    }*/

    #wrapper.toggled {
        padding-left: 0;
    }

    /*#sidebar-wrapper {
        width: 50px;
    }
    */
    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        float:left;
        /*padding: 20px;*/
        position: relative;
        width:80%;
        /*padding-top:15px;*/
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
